<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="description" content="@Model.MetaDescription" />
    <meta name="msapplication-config" content="/Images/Favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <title>@(Model.MetaTitle ?? Model.Title ?? Model.Key) - Ignia</title>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
    <link rel="canonical" href="http://www.ignia.com@(Model.WebPath)" />
    <link rel="apple-touch-icon" sizes="180x180" href="/Images/Favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/Images/Favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/Favicons/favicon-16x16.png" />
    <link rel="manifest" href="/Images/Favicons/manifest.json" />
    <link rel="mask-icon" href="/Images/Favicons/safari-pinned-tab.svg" color="#000000" />
    <link rel="shortcut icon" href="/Images/Favicons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/Shared/Styles/Style.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,600;1,700&display=swap" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/Shared/Fonts/Vendor/FontAwesome/fa-regular-400.woff2">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/Shared/Fonts/Vendor/FontAwesome/fa-brands-400.woff2">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/Shared/Fonts/Vendor/FontAwesome/fa-solid-900.woff2">
    @RenderSection("Head", false)
    <noscript id="DeferredStyles">
      @RenderSection("DeferredStyles", false)
    </noscript>
  </head>
  <body vocab="http://schema.org/" typeof="WebPage">

    <!-- Site Header Area -->
	  @if (IsSectionDefined("HeaderSection")) {
      @RenderSection("HeaderSection")
    }
    else {
      <header id="Header" class="site header" role="banner" vocab="http://schema.org" typeof="WPHeader">
        <div class="navbar grid-container">

          <!-- Menu open icon -->
          <button class="menu-toggle open-button hide-for-large" type="button" aria-label="Open menu" data-toggle="PrimaryNavigationSmallScreen"></button>
          <!-- Navigation Menu -->
          <partial name="Menu" />

          <!-- Logo Area -->
          <div class="logo"><a href="/Home/"><img id="BannerLogo" src="/Images/Logo.White.png" alt="Ignia is a software architecture and engineering firm. Let us build your product." /></a></div>

        </div>
      </header>
    }
    <!-- /Site Header Area -->

    @if (IsSectionDefined("MainContentSection")) {
      @RenderSection("MainContentSection")
    }
    else {

      <!-- Main Site Content Area -->
      <main id="MainContent" class="page content" role="main">
        <section itemscope itemtype="http://schema.org/WebPageElement" itemprop="mainContentOfPage">

          @if (IsSectionDefined("PageHeaderSection")) {
            <!-- Page Header -->
            @RenderSection("PageHeaderSection")
            <!-- /Page Header -->
          }

          <!-- Main Page Content -->
          @if (IsSectionDefined("PageBodySection")) {
            @RenderSection("PageBodySection")
          }
          else {
            @RenderBody()
          }
          <!-- /Main Page Content -->

        </section>
      </main>
      <!-- /Main Site Content Area -->
    }

    @if (IsSectionDefined("FooterSection")) {
      @RenderSection("FooterSection")
    } else {
      <partial name="Footer" />
    }

    <!-- jQuery -->
    <script defer src="~/Shared/Scripts/Vendor/jQuery/jquery.min.js"></script>

    <!-- Foundation -->
    <script defer src="/Shared/Scripts/Vendor/ZURB/Plugins/foundation.core.min.js"></script>

    <script defer src="/Shared/Scripts/Vendor/ZURB/Plugins/foundation.util.keyboard.min.js"></script>
    <script defer src="/Shared/Scripts/Vendor/ZURB/Plugins/foundation.util.mediaQuery.min.js"></script>
    <script defer src="/Shared/Scripts/Vendor/ZURB/Plugins/foundation.util.triggers.min.js"></script>

    <script defer src="/Shared/Scripts/Vendor/ZURB/Plugins/foundation.offcanvas.min.js"></script>
    <script defer src="/Shared/Scripts/Vendor/ZURB/Plugins/foundation.smoothscroll.min.js"></script>

    <!-- GreenSock -->
    <script defer src="~/Shared/Scripts/Vendor/GreenSock/TweenMax.js"></script>

    <!-- ScrollMagic -->
    <script defer src="~/Shared/Scripts/Vendor/ScrollMagic/ScrollMagic.min.js"></script>
    <script defer src="~/Shared/Scripts/Vendor/ScrollMagic/plugins/animation.gsap.min.js"></script>
    <!--<script defer src="~/Shared/Scripts/Vendor/ScrollMagic/plugins/debug.addIndicators.min.js"></script>-->

    <script>
      var loadDeferredStyles = function () {
        var addStylesNode = document.getElementById("DeferredStyles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function () { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>

    <script>
      /**
       * Initialize Foundation
       */
      window.addEventListener('DOMContentLoaded', function() {
        (function($) {
          $(document).foundation();
          @RenderSection("InlineScript", false)
        })(jQuery);
      });
    </script>
    <script defer src="/Shared/Scripts/Scripts.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
  </body>
</html>